<div data-role="content">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="r-container">
        <%= link_to "", root_path, class:"back" %>
      </div>
    </div>
  </div>

  <div class="row">
    <center>
      <div class="col-lg-12 col-md-12 col-sm-12 img2">
         <%= image_tag "orbe_login.png", :alt => "log_in", :title => "log_in"%>
      </div>
    </center>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="field">
          <%= f.label :Usuario, class: "text-1" %><br />
          <%= f.email_field :email, autofocus: true, placeholder: "Ingrese su email", class: "campos" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="field">
          <h1><%= f.label :Clave, class: "text-1" %></h1><br />
          <%= f.password_field :password, placeholder: "Ingrese su clave", autocomplete: "off", class: "campos" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :Recordarme, class: "check-1" %>
          </div>
        <% end -%>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="actions">
            <center>
              <div class="text-1">Iniciar sesión</div>
              <%= f.submit "", class: "log_in" %>
            </center>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row text-2">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <%= render "users/shared/links" %>
    </div>
  </div>

</div>
