<div data-role="header" class="user_status">
  <div class="row">
      <%= render partial: "layouts/header" %>
  </div>
</div>

<div data-role="content">

  <%= render partial: "layouts/orbe_menu" %>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <!-- colocar espacios de formulario estudiantes -->
    </div>
  </div>

  <div class="row register">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div class="add_boton"><a href="#"></a></div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <center>
        <div class="ok_boton"><a href="#"></a></div>
      </center>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <center>
        <div class="delete_boton"><a href="#"></a></div>
      </center>
    </div>
  </div>

</div>
