hola index
<div data-role="header" class="user_status">
  <div class="row">
      <%= render partial: "layouts/header" %>
  </div>
</div>

<div data-role="content">

      <%= render partial: "layouts/orbe_menu" %>

  <div class="row add">
      <div class="user_add">
        <div>

        </div>
      </div>
      <div class="user_add">
        <!-- colocar link a school new -->
      </div>
      <div class="user_add">
        <!-- colocar link a school new -->
      </div>
      <div class="user_add">
        <!-- colocar link a school new -->
      </div>
  </div>

  <div class="row register">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="delete_boton"><a href="#"></a></div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <center>
        <div class="ok_boton"><a href="#"></a></div>
      </center>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <center>
        <%= link_to "", new_user_school_path(current_user), class: "add_boton" %>
      </center>
    </div>
  </div>
</div>
