<div data-role="header" class="user_status">
  <div class="row">
      <%= render partial: "layouts/header" %>
  </div>
</div>

<div data-content="content">

  <div class="row">
    <center>
      <div class="col-lg-12 col-md-12 col-sm-12 img5">
         <%= image_tag "orbe_index.png", :alt => "orbe", :title => "orbe"%>
      </div>
    </center>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="mobile-nav2">
        <div class="menu-btn2" id="menu-btn2">
          <div>Bienvenido a Orbe <a href=""><%= image_tag "arrow_boton_down.png", :alt => "arrowd", :title => "arrowd"%></a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="responsive-menu2">
        <h1>Orbe es la aplicación en la que podrás hacer seguimiento a tus
          estudiantes con necesidades educativas especiales
          y adquirir conocimientos que te ayude a desenvolverte con ellos.</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="mobile-nav2">
        <div class="menu-btn2" id="menu-btn2">
          <div>Nuestros pilares<a href=""><%= image_tag "arrow_boton_down.png", :alt => "arrowd", :title => "arrowd"%></a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="responsive-menu2">
        <h1>Orbe es la aplicación en la que podrás hacer seguimiento a tus
          estudiantes con necesidades educativas especiales
          y adquirir conocimientos que te ayude a desenvolverte con ellos.</h1>
      </div>
    </div>
  </div>
</div>
