<div data-role="content">
  <div class="row">
    <center>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img1">
         <%= image_tag "orbe_index.png", :alt => "orbe", :title => "orbe"%>
      </div>
    </center>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ul data-role="listview">
        <%= link_to "Iniciar sesión", new_user_session_path, class: "ui-btn b btn-1" %>
        <%= link_to "Registrarse", new_user_registration_path, class: "ui-btn b btn-2" %>
      </ul>
    </div>
  </div>
</div>
