<div data-role="header" class="user_status">
  <div class="row">
      <%= render partial: "layouts/header" %>
  </div>
</div>

<div data-role="content">

    <%= render partial: "layouts/orbe_menu" %>

<div class="row" >
  <div class="col-md-12">
    <h3 class="text-center">Nuevo colegio</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <%= form_for @school, url: {action: 'create'} do |form|%>
      <div class="row">
        <div class="col-md-6">
          <%= form.label :institution_name, for:'institution_name', class: "text-1" %>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= form.text_field :institution_name, class:'form-control', required: true, class: "campos", placeholder: "Ingrese nombre de la institución" %>
          </div>
        </div>
      </div>


      <div class="form-group">
        <%= form.submit "Register School", class: 'btn btn-success'%>
        <!-- aqui iba un boton de cancelar -->
      </div>
    <% end %>
  </div>
  <div class="col-md-3">
  </div>
</div>
