@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

// welcome views

.mobile-nav2{
  padding-right: 30px !important;
  margin-top: 30px !important;
  margin-bottom: 0px !important;
  background-color: white !important;
  height: 74px !important;
  text-align: center !important;
}

.menu-btn2 div {
 background-color: white !important;
 color: #A1568A;
 font-size: 2em;
 padding-top: 12px;
 vertical-align: middle;
 z-index: 99;
}

/*menu expandido*/
.responsive-menu2{
 display: none;
}

.expand2 {
 color: #A1568A;
 display: block !important;
 text-align: center !important;
 margin-top: 0px !important;
 width: 100% !important;
 background-color: white !important;
 height: auto !important;
 padding-top: 5px !important;
 padding-bottom: 20px !important;
 padding-left: 20px !important;
 padding-right: 20px !important;
}



//main views

/*campos institución*/

.add{
  padding-left: 30px;
  padding-right: 30px;
}

.user_add{
  height: 100px;
  width: 40%;
  background-color: #2b1725 !important;
  margin-left: 5%;
  margin-right: 2.5%;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}

.user_status{
  padding-left: 30px;
  padding-right: 30px;
  background-color: transparent !important;
  background-color: #2b1725 !important;
  color: white !important;
  text-shadow: none !important;
  border-color: transparent !important;
}

.main_container{
  margin-top: 20px;
  margin-bottom: 20px;
}

/* menu usuario */

.mobile-nav{
  float: right !important;
  padding-right: 30px !important;
  margin-top: 30px !important;
  margin-bottom: 15px !important;
}

.menu-btn div {
 position: absolute;
 left: 100%;
 top: 64%;
 color: white;
 font-size: 1em;
 font-weight: 200;
 vertical-align: middle;
 z-index: 99;
}

/*lineas blancas del menu hamburguesa*/
.menu-btn span {
 display: block;
 width: 41px;
 height: 8px;
 border-radius: 25px;
 margin: 4px 0;
 background: rgb(255,255,255);
 z-index: 99;
}

/*menu expandido*/
.responsive-menu{
 display: none;
}

.expand {
 display: block !important;
 text-align: center !important;
 margin-top: 0px !important;
 width: 100% !important;
 background-color: #2b1725 !important;
 height: auto !important;
}


/* media queries */

/* Large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1366px){

}
/* Extra small devices (phones, less than 768px) */
 @media screen and (min-width: 481px){

}

/* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
//
// }
//
// /* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) { ... }
//
//
// @media (min-width: @screen-lg-min) { ... }
//
//
// @media (max-width: @screen-xs-max) { ... }
// @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
// @media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
// @media (min-width: @screen-lg-min) { ... }
