@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';


/* Estilos css maquetación app */

body{
  margin-top: 0 !important;
  font-size: 21px !important;
  color: white;
  font-style: normal !important;
  font-family: Verdana, Geneva, sans-serif !important;
  font-weight: normal !important;
}

/* Fondo */
.wrapper {
  background: rgba(125,70,108,1);
  background: -moz-linear-gradient(top, rgba(125,70,108,1) 0%, rgba(125,70,108,1) 61%, rgba(209,110,53,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(125,70,108,1)), color-stop(61%, rgba(125,70,108,1)), color-stop(100%, rgba(209,110,53,1)));
  background: -webkit-linear-gradient(top, rgba(125,70,108,1) 0%, rgba(125,70,108,1) 61%, rgba(209,110,53,1) 100%);
  background: -o-linear-gradient(top, rgba(125,70,108,1) 0%, rgba(125,70,108,1) 61%, rgba(209,110,53,1) 100%);
  background: -ms-linear-gradient(top, rgba(125,70,108,1) 0%, rgba(125,70,108,1) 61%, rgba(209,110,53,1) 100%);
  background: linear-gradient(to bottom, rgba(125,70,108,1) 0%, rgba(125,70,108,1) 61%, rgba(209,110,53,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d466c', endColorstr='#d16e35', GradientType=0 );
}

/* data-role content */
.ui-content {
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-top: 0px !important;
}

/* Botones show */
.b{
  border: none !important;
  color: white !important;
  height: 52px !important;
  margin-bottom: 0 !important;
  font-weight: normal !important;
  text-shadow: none !important;
  font-size: 1em !important;
}

.btn-1{
  background-color: #6B3C56 !important;
  width: 100% !important;
  border: none !important;
}

.btn-1 a{
  color: white !important;
  text-decoration: none !important;
}

.btn-1 a:hover{
  background-color: #4E2D3F !important;
}

.btn-2{
  background-color: #4E2D3F !important;
  width: 100% !important;
  margin-top: 0% !important;
}

.btn-2 a{
  color: white !important;
  text-decoration: none !important;
}

.btn-2 a:hover{
  background-color: #6B3C56 !important;
}

/* Botones log_in */

.log_in{
  height: 64px;
  width: 64px;
  background-image: image-url("login_icon.png");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none !important;
  margin-top: 23px;
  margin-bottom: 23px;
}

.log_in:hover{
  background-image: image-url("login_icon_hover.png");
}

/* Botones registros */

.register{
  height: 74px;
  background-color: rgba(78, 45, 63, 0.4) !important;
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 10px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/*botón back*/
.r-container{
  margin-top: 80px !important;
  height: 46px !important;
  width: 46px !important;
}

.back.ui-link{
  height: 46px !important;
  width: 46px !important;
  background-image: image-url("back_boton.png");
  margin-left: 30px;
  padding-left: 46px !important;
  margin-top: 14px;
  padding-top: 46px;
  background-repeat: no-repeat !important;
}

/*ok boton*/
.ok_boton{
  background-image: image-url("ok_boton.png");
  background-repeat: no-repeat !important;
  height: 46px;
  width: 46px;
  background-color: transparent;
  border: none !important;
  margin-top: 14px;
  margin-bottom: 14px;
}

/*add boton*/

.add_boton {
  height: 46px;
  width: 46px;
  background-image: image-url("add_boton.png");
  background-repeat: no-repeat !important;
  margin-top: 14px;
  float: left;
}

/*botón delete & cancelar cuenta*/

.delete_boton {
  height: 46px;
  width: 46px;
  background-image: image-url("delete_boton.png");
  background-repeat: no-repeat !important;
  margin-top: 14px;
  float: right;
}

.cancel {
  margin-left: 20px;
  margin-top: 30px;
  border: none !important;
  font-size: 1em !important;
  color: white !important;
  text-shadow: none !important;
  text-decoration: none !important;
  background-color: transparent !important;
}

.cancel:hover{
  color: #2b1725 !important;
  text-shadow: none !important;
  text-decoration: underline !important;
}

/* Imagenes */

/*orbe index*/
.img1{
  margin-top: 251px;
  margin-bottom: 251px;
  height: auto;
}
/*orbe log in*/
.img2{
  margin-top: 3px;
  margin-bottom: 3px;
}

/*orbe sign_up*/
.img3{
  margin-top: 43px;
  margin-bottom: 43px;
}

.img4{
  margin-top: 30px;
  height: 66px;
  width: 66px;
  margin-left: auto;
  margin-right: auto;
  float: inherit !important;
}

.img5{
  margin-top: 40px;
  margin-bottom: 40px;
}
/* Textos */

h1{
  font-size: 1em !important;
  margin-top: 10px !important;
  margin-bottom: 3px !important;
}

h2{
  float: right !important;
  font-size: 0.8em !important;
  margin-right: 12px !important;
  color: white !important;
  text-shadow: none !important;
  padding-top: 0px !important;
}

h3{
  font-size: 1em !important;
  margin-top: 12px !important;
  margin-bottom: 5px !important;
  float: left !important;
}

h4{
  margin-top: 12px !important;
  margin-bottom: 5px !important;
  margin-right: 5px !important;
  float: left !important;
  font-size: 1em !important;
  font-weight: bold !important;
}

.text-1{
  font-size: 1.5em !important;
  color: white !important;
  margin-bottom: 5px !important;
  margin-top: 20px !important;
}

.ui-link{
  font-size: 1em !important;
  color: white !important;
  text-shadow: none !important;
  text-decoration: none !important;
  padding-left: 30px !important;
}

.text-2 a:hover{
  color: #4E2D3F !important;
  text-shadow: none !important;
  text-decoration: underline !important;
}

/* campos de texto */

.field{
  text-align: center;
  color: white;
  border: none !important;
  border-color: none !important;
  border-style: none !important;
}

.campos{
  margin-top: 0% !important;
  color: white !important;
  background-color: #4E2D3F !important;
  width: 100% !important;
  border-color: none !important;
  height: 62px;
  text-align: center !important;
  border: none !important;
  border-color: none !important;
  border-style: none !important;
}

.ui-input-text{
  border: none !important;
  border-color: none !important;
  border-style: none !important;
  border-radius: 25px !important;
  background-color: transparent !important;
  box-shadow: none !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.ui-checkbox{
  float: left !important;
  margin-left: 30px !important;
}

.check-1{
  width: 193px !important;
  height: 26px !important;
  background-color: transparent !important;
  border: none !important;
  color: white !important;
  text-align: center !important;
  margin-top: 6px !important;
  margin-left: 16px !important;
}

/* footer */
.ui-footer{
  background-color: #2b1725 !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  text-shadow: none !important;
  padding-top: 30px !important;
  color: #dedede !important;
  padding-bottom: 30px !important;
  height: auto !important;
  border: none !important;
}


/* media queries */

/* Large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1366px){

}
/* Extra small devices (phones, less than 768px) */
 @media screen and (min-width: 481px){

}

/* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
//
// }
//
// /* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) { ... }
//
//
// @media (min-width: @screen-lg-min) { ... }
//
//
// @media (max-width: @screen-xs-max) { ... }
// @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
// @media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
// @media (min-width: @screen-lg-min) { ... }
