<div class="row">
  <div class="col-md-6 col-sm-6">
        Designed by
    <h1>Daniel Ochoa and Alejandro Agredo</h1>
  </div>
  <div class="col-md-6 col-sm-6">
        Development by
    <h1>Alejandro Serna</h1>
  </div>
</div>

</br>

<div class="row">
  <div class="col-md-6 col-sm-6">
        Contact us
    <h1>alejo.tanatos@gmail.com</h1>
    <h1>dikastidesign@gmail.com</h1>
    <h1>alejandrogom6@gmail.com</h1>
  </div>
  </br>
  <div class="col-md-6 col-sm-6">
        Orbe is a product of
    <h1>Brumker &trade;</h1>
  </div>
</div>

</br>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <center>
      &copy; All rights reserved &#8226; Orbe &trade;
    </center>
  </div>
</div>
