<% if user_signed_in? %>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <h4>Conectado como</h4> <h3><%= current_user.email %></h3>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-2">
    <h2><%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></h2>
    <h2><%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %></h2>
  </div>
<% else %>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-2">
    <h2><%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link' %></h2>
    <h2><%= link_to "Iniciar Sesión", new_user_session_path, :class => 'navbar-link' %></h2>
  </div>
<% end %>
