<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="r-container">
      <%= link_to "", :back, class: "back"  %>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <center>
     <%= image_tag "orbe_signup.png", class: "img4" %>
   </center>
  </div>
  <!-- menu hamburguesa -->
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="mobile-nav">
      <div class="menu-btn" id="menu-btn">
        <div></div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <!-- menu desplegado -->
    <div class="responsive-menu">
      <ul>
        <li>Instituciones</li>
        <li>Grupos</li>
        <li>Estudiantes</li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <%= search_field(:user, :name) %>
  </div>
</div>
