<!DOCTYPE html>
<html>
<head>
  <title>Orbe</title>
  <meta name="keywords" content="Educación inclusiva, Educación de calidad, Autismo, Discapacidad auditiva, Colombia, Discapacidad cognitiva,">
  <meta name="description" content="Orbe, Una app en la educación inclusiva Colombiana.">


  <%= favicon_link_tag 'favicon.ico' %>

  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "http://code.jquery.com/mobile/1.4.5/jquery.mobile.min.css", :media => "all" %>
  <%= javascript_include_tag "http://code.jquery.com/mobile/1.4.5/jquery.mobile.min.js" %>

  <%= csrf_meta_tags %>

</head>
<body class="ui-mobile-viewport container-fluid">
    <div data-role="page" class="wrapper" id="page1" data-dom-cache="true">
      
      <%= yield %>

    <div data-role="footer">
      <%= render partial: "layouts/footer" %>
    </div>
  </div>
</body>
</html>
