<div data-role="header">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="r-container">
        <%= link_to "", :back, class:"back" %>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <!--espacio vacio -->
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      Edit <%= resource_name.to_s.humanize %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <!--espacio vacio -->
    </div>
  </div>
</div>

<div data-role="content">
  <div class="row">
    <center>
      <div class="col-lg-12 col-md-12 col-sm-12">
         <%= image_tag "orbe_signup.png", class: "img3", :alt => "sign_up", :title => "sign_up"%>
      </div>
    </center>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <%= devise_error_messages! %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="field">
            <%= f.date_field :user_name, class: "campos", autofocus: true, placeholder: "Nombre de usuario" %>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="field">
            <%= f.date_field :first_name, class: "campos", autofocus: true, placeholder: "Nombres" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="field">
            <%= f.date_field :last_name, class: "campos", autofocus: true, placeholder: "Apellidos" %>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="field">
            <%= f.email_field :email, class: "campos", autofocus: true, placeholder: "Email" %>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="field">
          <i>(Si no quiere cambiar de clave, por favor deje en blanco)</i><br />
          <%= f.password_field :password, autocomplete: "off", class: "campos", placeholder: "Cambiar clave" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="field">
          <%= f.password_field :password_confirmation, class: "campos", autocomplete: "off", placeholder: "Confirmar clave" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="field">
          <i>(Por favor ingrese la clave anterior para confirmar el cambio.)</i><br />
          <%= f.password_field :current_password, autocomplete: "off", class: "campos", placeholder: "Ingresar clave anterior" %>
        </div>
      </div>
    </div>

    <div class="row register">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <!-- espacio vacio -->
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="actions">
          <center>
            <%= f.submit "", class: "ok_boton", :alt => "actualizar campos" %>
          </center>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <center>
          <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete, class: "cancel" %>
        </center>
      </div>
    </div>

  <% end %>

</div>
