<div data-role="content">

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="r-container">
        <%= link_to "", root_path, class:"back" %>
      </div>
    </div>
  </div>

  <div class="row">
    <center>
      <div class="col-lg-12 col-md-12 col-sm-12">
         <%= image_tag "orbe_signup.png", class: "img3", :alt => "sign_up", :title => "sign_up"%>
      </div>
    </center>
  </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <%= devise_error_messages! %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="field">
              <%= f.date_field :user_name, class: "campos", autofocus: true, placeholder: "Nombre de usuario" %>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="field">
              <%= f.date_field :first_name, class: "campos", autofocus: true, placeholder: "Nombres" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="field">
              <%= f.date_field :last_name, class: "campos", autofocus: true, placeholder: "Apellidos" %>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="field">
              <%= f.email_field :email, class: "campos", autofocus: true, placeholder: "Email" %>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="field">
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, class: "campos", autocomplete: "off", placeholder: "Clave" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="field">
            <%= f.password_field :password_confirmation, class: "campos", autocomplete: "off", placeholder: "Confirmar clave" %>
          </div>
        </div>
      </div>

      <div class="row register">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="actions">
            <center>
              <%= f.submit "", class: "ok_boton" %>
            </center>
          </div>
        </div>
      </div>

    <% end %>

</div>
